{% extends "layout.html" %} {% block main %}
<div class="larderHeader">
  <a href="/larder"
    ><h3 class="saveLard">Save items to your larder here +</h3>
  </a>
</div>
<header>
  <h1 class="title">Fridge Dinners Made Easy</h1>
  <strong class="headerInfo">
    Chat-GPT will give you recipe ideas based on your kitchen ingredients.
    Remind yourself what you might have at home using the menu on the left.
  </strong>
</header>
<div class="container">
  <div class="chatContainer">
    <div class="question">
      <div class="yourLarder">
        <h3>Your Larder:</h3>
        <p>
          {{larder}} <span><a class="edit" href="/larder">(Edit)</a></span>
        </p>
        <h3>+</h3>
      </div>
      <h1 class="chatHeader">What fresh ingredients do you have at home?</h1>

      <form action="/" method="post">
        <input
          type="text"
          placeholder="Tomatoes, chicken, tofu, fresh corainder etc."
          name="ingredients"
          id="ingredients"
        />
        <button class="getRecipes" type="submit">Get recipe ideas</button>
      </form>
    </div>

    {% if responses %}
    <ul name="response" id="response" class="responses">
      {% for response in responses %}
      <li class="response">{{response}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="ingredientContainer">
    <h2>Ingredient Examples</h2>
    <ul class="ingredientTypes">
      <li>Pantry</li>
      <li>Fridge</li>
      <li>Freezer</li>
    </ul>
    <div class="ingredientListContainer">
      <ul>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
