{% extends "layout.html" %} {% block main %}
<!-- Hero -->
<div class="backgroundImage">
  <h1 class="larderTitle">Step 1: Create Your Larder</h1>
</div>
<!-- Main -->
<div class="larderContainer">
  <div class="larderSecondary">
    <p class="larderInfo">
      List non-perishables that make up your kitchen staples. Examples: Oils,
      Vinegars, Sauces, Canned Goods, Spices, Dried herbs, Frozen Goods. More
      suggestions below.
    </p>
    <p class="larderInfo">
      This larder will then be saved to your account and automatically added to
      ingredients added on the main page.
    </p>
    <br />
    <p class="larderInfo">
      Select a category from the below menu, then click on individual food items
      to add them to your larder quickly.
    </p>
  </div>
  <div class="larderMain">
    <div class="suggestions">
      <select name="larderSuggestions" id="larderSuggestions">
        <option value="oils">Oils & Vinegars</option>
        <option value="herbs">Herbs & Spices (dried)</option>
        <option value="cans">Canned Goods</option>
        <option value="grains">Grains & Legumes</option>
        <option value="flour">Flour & Baking Essentials</option>
        <option value="nuts">Nuts & Seeds</option>
        <option value="sauces">Condiments & Sauces</option>
        <option value="jars">Canned or Jarred Condiments</option>
        <option value="fruits">Dried Fruits</option>
        <option value="misc">Miscellaneous</option>
      </select>
      <ul id="ingredientList"></ul>
    </div>
    <form class="larderForm" action="/larder" method="post">
      <textarea
        name="larder"
        id="larder"
        cols="30"
        rows="10"
        placeholder="List here ingredients, seperated with commas."
      >
  {{larder}}</textarea
      >
      <button class="btn" type="submit">Save</button>
    </form>
  </div>
</div>
{% endblock %}
