<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- <link href="/static/favicon.ico" rel="icon" /> -->

    <link href="/static/css/styles.css" rel="stylesheet" />

    <title>Recipe Maker</title>
  </head>

  <body>
    <nav>
      <div>
        <img
          src="{{ url_for('static', filename='images/chefGPTlogoone.png') }}"
          alt="My Image"
          class="logo"
        />
      </div>
      <ul class="options">
        <li class="navOption"><a href="/">Chat</a></li>
        <li class="navOption"><a href="/login">Login</a></li>
        <li class="navOption"><a href="/register">Register</a></li>
      </ul>
    </nav>

    <main>{% block main %}{% endblock %}</main>

    <footer>
      <div class="footerContainer">
        <p>&copy; Alex Buchan 2023</p>
        <p>Powered by Chat-GPT</p>
      </div>
    </footer>
  </body>
</html>
