{% extends "layout.html" %} {% block main %}

<div class="loginContainer">
  <div class="login">
    <h1>Login</h1>
    <form class="loginForm" action="/login" method="post">
      <input
        class="loginInput"
        type="text"
        name="username"
        id="username"
        placeholder="username"
      />
      <input
        class="loginInput"
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <button class="btnLogin" type="submit">Login</button>
    </form>
    <p>
      Haven't registered yet? Sign up <a class="edit" href="/register">here.</a>
    </p>
  </div>
</div>

{% endblock %}
