{% extends "layout.html" %} {% block main %}

<div class="loginContainer">
  <div class="login">
    <h1>Login</h1>
    <form class="loginForm" action="/login" method="post">
      <input
        class="loginInput"
        type="text"
        name="username"
        id="username"
        placeholder="username"
      />
      <input
        class="loginInput"
        type="text"
        name="password"
        id="password"
        placeholder="password"
      />
    </form>
  </div>
</div>

{% endblock %}
